name: Linting

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Linting
      run: make lint
